@layer base {
	body {
		@apply min-h-screen overflow-y-hidden;

		--bg-color: var(--background-light);
		background-color: rgb(var(--bg-color));
		background-image: radial-gradient(
				at 100% 100%,
				rgb(var(--gradient-accent1-light)) 0,
				transparent 50%
			),
			radial-gradient(
				at 0% 0%,
				rgb(var(--gradient-accent2-light)) 0,
				transparent 65%
			);
	}

	.dark body {
		--bg-color: var(--background-dark);
		background-color: rgb(var(--bg-color));
		background-image: radial-gradient(
				at 100% 100%,
				rgb(var(--gradient-accent1-dark)) 0,
				transparent 50%
			),
			radial-gradient(
				at 0% 0%,
				rgb(var(--gradient-accent2-dark)) 0,
				transparent 60%
			);
	}

	h1 {
		@apply text-3xl font-bold text-gray-800 dark:text-gray-200;
	}
	p {
		@apply text-gray-800 dark:text-gray-400;
	}
}
