@layer utilities {
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scrollbar-auto {
		-ms-overflow-style: auto;
		scrollbar-width: auto;
	}

	.glassmorphic-bg {
		@apply rounded-l-lg bg-white/(--glass-opacity) dark:bg-black/(--glass-opacity) 
			   backdrop-blur-xl border border-white/20 dark:border-white/10;
	}
}
