@import "tailwindcss";

@theme {
	--background-light: 146 148 151;
	--background-dark: 15 23 42;

	--glass-opacity: 20%;

	--gradient-accent1-light: 11 141 235;
	--gradient-accent1-dark: 30 58 138;

	--gradient-accent2-light: 237 24 24;
	--gradient-accent2-dark: 190 30 44;
}

@custom-variant dark (&.dark, .dark &);

@import "../src/styles/base.css";
@import "../src/styles/components.css";
@import "../src/styles/utilities.css";

#root {
	@apply w-screen h-screen;
}
